body {
    background-color: rgb(249, 241, 231);
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.listheading {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.pagetitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
    font-size: 45px;
    font-weight: bold;
    color: black;
}

li {
    color: rgb(150, 106, 49);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    margin-left: 20px;
    color: rgb(150, 106, 49);
}

.header {
    float: right;
    margin-right: 20px;
}

a {
    margin: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    color: rgb(150, 106, 49);
}

a:visited {
    color: rgb(136, 47, 75);
}

a:hover {
    color: black;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
}

/* divs */
.list {
    padding-right: 20px; 
}

.video {
    padding-left: 20px;
    margin: auto;
}

.container {
    display: flex;
    margin: 10px;
}